<!-- Content app and name app movie -->
<div class="content-app text-center d-flex w-100">
  <span class="w-100">TUPELI</span>
  <div class="content-app-store text-center w-100">
    <!-- Logo App Store-->
    <img src="../../../assets/img/AppStore.png" class="rounded" alt="Descarga la aplicación para dispositivos Mac">
    <!-- Logo Google Play -->
    <img src="../../../assets/img/GooglePlay.png" class="rounded" alt="Descarga la aplicación para dispositivos Android">

  </div>
</div>

<footer class="bg-black text-center text-lg-start d-flex">
    <!-- Social Network -->
    <div class="text-left ">
      <button type="button" class="btn btn-default btn-xs">
        <i class="fab fa-twitter"></i>
      </button>
      <button type="button" class="btn btn-default btn-xs">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-default btn-xs">
        <i class="fab fa-facebook-square"></i>
      </button>
      </div>
    <!-- Logo -->
    <img src="../../../assets/img/logo.svg" class="rounded" alt="Logo de la aplicación">
    <!-- Copyright -->
    <div class="text-right">
      © 2021 FrontEnd Poli
    </div>
  </footer>