footer {
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

i {
  color: white;
}

.content-app {
  flex-wrap: wrap;
}

.content-app span {
  color: white;
  font-size: x-large;
  font-weight: bold;
  padding: 0 50px;
  width: 100%;
}

.content-app-store {
  margin-top: 30px;
}

.content-app-store img {
  margin: 25px 25px 80px;
  cursor: pointer;
}

img {
  background-color: white;
}

footer img {
  width: 80px;
}

.text-right {
  font-weight: bold;
  color: white;
}