<div class="aside-movie-details" *ngIf="movie != undefined">
  <h3>Movie Info</h3>
  <hr>
  <div>
    <section class="split_column">
      <div>
        <div class="column no_buttom_pad">
          <section class="facts left_column">
            <div class="social_links">
              <div>
                <a class="social_link" title="Visit Facebook" href="https://www.facebook.com/{{social.facebook_id}}"
                  target="_blank" rel="noopener" data-role="tooltip"><i class="fab fa-facebook-square"></i></a>
              </div>

              <div>
                <a class="social_link" title="Visit Twitter" href="https://twitter.com/{{social.twitter_id}}"
                  target="_blank" rel="noopener" data-role="tooltip"> <i class="fab fa-twitter"></i></a>
              </div>

              <div>
                <a class="social_link" title="Visit Instagram" href="https://instagram.com/{{social.instagram_id}}/"
                  target="_blank" rel="noopener" data-role="tooltip"> <i class="fab fa-instagram"></i></a>
              </div>

              <div class="homepage">
                <a class="social_link" title="Go movie homepage" href="{{ movie.homepage }}" target="_blank"
                  rel="noopener" data-role="tooltip"> <i class="fas fa-link"></i></a>
              </div>
            </div>
            <p>
              <strong><bdi>Original language</bdi></strong>
              {{
              movie.original_language == 'en' ? 'English'
              : movie.original_language == 'ja' ? 'Japanese'
              : movie.original_language == 'es' ? 'Spanish'
              : movie.original_language == 'fr' ? 'French'
              : movie.original_language
              }}
            </p>
            <p>
              <strong><bdi>Status</bdi></strong> {{movie.status}}
            </p>
            <p>
              <strong><bdi>Original title</bdi></strong> {{movie.original_title}}
            </p>
            <p>
              <strong><bdi>Budget</bdi></strong> {{movie.budget}}
            </p>
            <p>
              <strong><bdi>Revenue</bdi></strong> {{movie.revenue}}
            </p>
            <p>
              <strong><bdi>Movie poster</bdi></strong>
              <img class="img-thumbnail" [src]="movie.backdrop_path | poster" [alt]="movie.backdrop_path">
            </p>
            <p>
              <strong><bdi>Genres</bdi></strong>
              <span *ngFor="let item of movie.genres" class="badge badge-pill badge-light genres">{{ item.name }}</span>
            </p>
          </section>

          <section class="keywords right_column">
            <h4><bdi>Keywords</bdi></h4>
            <ul *ngFor="let item of keywords.keywords" class="list-unstyled">
              <li><span class="badge badge-pill badge-light genres">{{ item.name }}</span></li>
            </ul>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>