
.aside-movie-details h3 {
    font-weight: bold;
}
section.split_column>div {
    width: 100%;
}

section.split_column {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
}

section.split_column>div {
    width: 100%;
}

div.aside-movie-details div.column {
    width: 100%;
}

.no_bottom_pad {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

section.split_column section {
    margin-bottom: 30px;
    width: 100%;
}

section.split_column section.keywords {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
}

section.facts div.social_links {
    display: flex;
}

section.facts div.social_links div {
    height: 30px;
    margin-bottom: 30px;
}

section.facts div.social_links a.social_link {
    display: block;
    font-size: 1.9em;
    color: white;
}

section.facts div.social_links div+div {
    margin-left: 10px;
}

section.facts div.social_links div+div.homepage {
    border-left: 1px solid #d7d7d7;
    padding-left: 8px;
}

section.facts p {
    box-sizing: border-box;
}
div.column p {
    margin: 0 0 20px 0;
    font-size: 1em;
}

p {
    margin-bottom: 16px;
}
p {
    font-size: 1em;
}

div.column p strong {
    display: block;
    font-weight: 600;
}

div.column strong {
    display: block;
    font-weight: 600;
}

.genres {
    font-size: 15px;
}

section.split_column section.keywords {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 30px;
}
section.split_column section:last-of-type {
    margin-bottom: 0;
}

section.split_column section {
    margin-bottom: 30px;
    width: 100%;
}

section.split_column h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
}
