<div class="container mt-2 mb-5">

    <div>
        <div class="row d-flex">
            <div class="col-md-4">
                <img class="img-fluid img-movie" [src]="movie.poster_path | poster" [alt]="movie.title">
            </div>
           
            <div class="col-md-6">
                <h1 class="text-white mt-5 pt-3" *ngIf="movie">{{movie.title}}</h1>
                <div class="row">
                  <div class="row mt-4">
                    <div class="col">
                      <button class="btn btn-outline-danger pe-5 ps-5" (click)="back()"> Back </button>
                    </div>
                  </div>
                </div>
              </div>
        
    </div>

    <h2 class="mt-5 mb-5 pb-5">Reviews</h2>

    <div *ngIf="reviews">
        <div class="card mt-5" *ngFor="let item of reviews">
            <div class="card-header bg-light">
                <div class="d-flex">
                    <img class="rounded-circle review-avatar" [src]="item.author_details.avatar_path | poster"
                        [alt]="item.author_details.avatar_path">
                    <div>
                        <p class="review-user">
                            A review by {{item.author_details.username }}
                        </p>
                        <p class="rewiew-user-created">
                            Written by <span>{{item.author_details.username}}</span> on {{item.created_at}}
                        </p>
                    </div>
                </div>

            </div>
            <div class="card-body bg-info">
                <p class="card-text text-dark review-details">{{item.content}}</p>
            </div>
        </div>
    </div>
</div>